page-login {
  ion-content {
    &.content {
      background: url('../../assets/imgs/login_bg.jpg');
    }
  }

  ion-label {
    color: map-get($colors, light);
  }

  ion-input {
    color: map-get($colors, white);
  }

}
